# Created by https://www.toptal.com/developers/gitignore/api/blender
# Edit at https://www.toptal.com/developers/gitignore?templates=blender

### Blender ###
# Ignore temporary Blender files.
*.blend1
*.mp4
# End of https://www.toptal.com/developers/gitignore/api/blender
